body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

table{
    border-collapse: collapse;
    height: 500px;
    width: 500px;
    border-color: white;
}

td{
    font-size: large;
    font-weight: bold;
    text-align: center;
}

input{
    width: 400px;
    box-sizing: content-box;
    text-align: right;
    background-color: black;
    color: white;
}
tr:first-of-type{
    height: 50px;
}

tr:first-of-type input{
    height: 40%;
}

tr:nth-of-type(2) input{
    height: 60%;
}

.num{
    background-color: silver;
    color: white;
    box-sizing: content-box;
}

.opr{
    background-color: orange;
    color: white;
    box-sizing: content-box;
}

.display{
    background-color: rgb(73, 73, 73);
}

#ac{
    background-color: rgb(73, 73, 73);
}


td:not(.display):hover{
    opacity: 70%;
}

td:not(.display):active{
    transform: scale(0.95);
}